ion-content{
    --background: white;
}
.container{
    text-align: center;
    padding-top: 50px;
}
.logo img{
    width: 150px;
    height: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}
.tittle{
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
}
ion-item{
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
ion-input{
    background: white;
    padding-start:12px;
    padding-end:12px;
    border-radius: 5px;
    color: black;
}
.btn{
    --background : rgb(222, 147, 9);
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
.btn:hover{
    --background: orange;
}